<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sai Harsha Varma Sangaraju - Software Developer with expertise in Python, Java, C++, and deep learning. Proven track record of projects in Machine Learning, NLP, and RESTful API development.">
    <meta name="keywords" content="Sai Harsha Varma, Software Developer, Python, Java, C++, Machine Learning, Deep Learning, REST API, Django, NLP, AWS, React, SQL, Cloud Practitioner">
    <meta name="author" content="Sai Harsha Varma Sangaraju">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Sai Harsha Varma Sangaraju - Software Developer">
    <meta property="og:description" content="Resume of Sai Harsha Varma Sangaraju, showcasing expertise in software development, machine learning, deep learning, and web development.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.saiharshavarma.com">
    <meta property="og:image" content="https://www.saiharshavarma.com/profile-image.jpg">
    <title>CV - Sai Harsha Varma Sangaraju</title>
</head>
<body>

    <h1>Sai Harsha Varma Sangaraju</h1>
    <p>Brooklyn, NY | <a href="mailto:saiharshavarma@outlook.com">saiharshavarma@outlook.com</a> | 
        <a href="https://www.saiharshavarma.com">Website</a> | 
        <a href="https://github.com/saiharshavarma">GitHub</a> | 
        <a href="https://www.linkedin.com/in/sai-harsha-varma/">LinkedIn</a>
    </p>

    {% block content %}
    {% endblock %}

</body>
</html>