<h2>Education</h2>
<p><strong>New York University</strong> - New York, NY <br>
Master of Science, Computer Science <br>
September 2024 - May 2026</p>

<p><strong>Vellore Institute of Technology</strong> - Vellore, India <br>
Bachelor of Technology, Computer Science and Engineering | GPA - 9.23 <br>
September 2020 - May 2024</p>
<p><strong>Relevant Coursework:</strong> Software Engineering, Internet and Web Programming, Database Management Systems, Principles of Cloud Computing, Parallel and Distributed Computing</p>