<h2>Experience</h2>

<h3>Samsung R&D Institute India</h3>
<p>Bengaluru, India <br>
Research Intern <br>
April 2023 - November 2023</p>
<ul>
    <li>Engineered a split-computing architecture that leveraged parallel processing to optimize ML/DNN model execution, achieving a 15% increase in processing speed and significantly reducing overall network latency.</li>
    <li>Enhanced encoding and decoding techniques, leading to 8% faster data transmission and a 12% decrease in communication overhead, substantially boosting performance in data-intensive applications.</li>
</ul>

<h3>National Institute of Technology</h3>
<p>Tiruchirappalli, India <br>
Deep Learning Research Intern <br>
May 2023 - August 2023</p>
<ul>
    <li>Led the development of an Insider Threat Detection system by applying feature engineering techniques and advanced data analysis, increasing the detection accuracy by 6%.</li>
    <li>Designed and developed innovative techniques for handling complex temporal data by leveraging deep learning approaches and advanced data pattern analysis.</li>
</ul>

<h3>Invimatic Technologies Pvt Ltd</h3>
<p>Pune, India <br>
Software Developer <br>
May 2022 - July 2022</p>
<ul>
    <li>Architected a web application, MARINE, to automate software requirements evaluation, improving efficiency by 25% through advanced NLP algorithms and Function Point analysis.</li>
    <li>Developed a REST API using Django and integrated advanced NLP libraries (NLTK), processing 1,000+ text documents weekly for quality assurance, reducing manual review time by 30%.</li>
    <li>Optimized software size estimation algorithms, increasing accuracy by 20%, leading to better project timelines and more efficient resource allocation.</li>
</ul>