<h2>Projects</h2>

<h3>Chakravaat</h3>
<ul>
    <li><em>Tech Stack: Python, Tensorflow, Django, REST Framework, React, PostgreSQL, JavaScript</em></li>
    <li>Developed a web application for cyclone intensity estimation using a multi-headed attention-based CNN model with integrated satellite data processing, and deployed a scalable Django backend and React frontend on AWS for real-time analysis.</li>
</ul>

<h3>ContentX</h3>
<ul>
    <li><em>Tech Stack: Python, NLTK, Django, SQLite3, PyTrends, TextBlob, JavaScript</em></li>
    <li>Designed a content feedback tool leveraging NLP to automate text analysis and improve writing quality, and implemented the website with SQLite3, streamlining the feedback process and enhancing content evaluation efficiency.</li>
</ul>

<h3>M.A.R.I.N.E</h3>
<ul>
    <li><em>Tech Stack: Python, NLTK, Django, REST Framework, React, PostgreSQL, JavaScript</em></li>
    <li>Streamlined the examination of software requirements by automating quality and consistency checks, using Function Points for software size estimation, significantly improving the accuracy and efficiency of the process.</li>     
</ul>